@{ ViewBag.Title = "Vending Machine"; }

<div class="wrapper-machine">
    <div class="machine">
        <div class="images" id="items-vending">
        </div>
        <div class="preparing">
            <div class="prep-title">
                <h3 class="text-center">Preparing</h3>
                <div>
                   <p id="countdown"></p>
                </div>
               <div class="gifs" id="items-gif"></div>
               <div class="finished-images" id="item-finished"></div>
            </div>
        </div>
    </div>

    <div class="your-order">
        <div class="order">
        <div class="order-title">
            <h3 class="text-center">Your order</h3>
        </div>
        
        <div class="item-suborder" id="item-order">
        </div>
        <div class="total" id="total-order">
            <h4 class="text-center">Total</h4>
            <h3 class="text-center" id="total-amount"></h3>
        </div>
        </div>

        <div>
            <div class="dispatch-items">
                <div class="dispatched-title">
                    <h3 class="text-center">Dispatched Products</h3>
                </div>
                <div class="dispatched-items">
                    <div class="text-center" id="items-dispatched">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  